﻿@using Pembekalan_Net.Services
@inject AuthServices authServices
@{
    int IdCustomer = @Context.Session.GetInt32("idCustomer") ?? 0;
    string nameCustomer = @Context.Session.GetString("nameCustomer") ?? "";
    int idRole = @Context.Session.GetInt32("idRole") ?? 0;

    var menuAccess = await authServices.MenuAccess(idRole);
}

<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar" data-sidebarbg="skin6">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar" data-sidebarbg="skin6">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                @if(idRole != 0)
                {
                    @foreach (var parent in menuAccess)
                    {
                        <li class="sidebar-item" >
                            <a class="sidebar-link has-arrow" href="javascript:void(0)"
                               aria-expanded="false">
                                <i data-feather="@parent.MenuIcon" class="feather-icon"></i><span class="hide-menu">@parent.MenuName </span>
                            </a>
                            <ul aria-expanded="false" class="collapse  first-level base-level-line">
                                @foreach (var child in parent.ListChild)
                                {
                                <li class="sidebar-item">
                                    <a asp-controller="@child.MenuController" asp-action="@child.MenuAction" class="sidebar-link">
                                        <i data-feather="@child.MenuIcon" class="feather-icon"></i>
                                        <span class="hide-menu">
                                            @child.MenuName
                                        </span>
                                    </a>
                                </li>
                                }
                            </ul>
                        </li>

                        <li class="mb-4"></li>
                    }
                }
                else
                {
                    <li class="sidebar-item">
                        <a class="sidebar-link sidebar-link" asp-area="" asp-controller="Home" asp-action="Index"
                           aria-expanded="false">
                            <i data-feather="home" class="feather-icon"></i><span class="hide-menu">Home</span>
                        </a>
                    </li>
                    <li class="list-divider"></li>
                    <li class="sidebar-item">
                        <button class="sidebar-link btn w-100" id="btn-login" type="button"
                           aria-expanded="false">
                            <i data-feather="log-in" class="feather-icon"></i><span class="hide-menu">Login</span>
                        </button>
                    </li>
                }

                
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<script>
    $("#btn-login").click(function (event) {
        // location.replace("/Auth/Login");
        $("#modal_body").empty()
        $(".modal-dialog").addClass("modal-xl");
        $("#modal_body").load("/Auth/Login")
        $("#my_modal").modal("show")
    })
</script>