﻿@using Pembekalan_Net.ViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model VMTblRole
@{
    ViewData["Title"] = "Tambah Role";
    //Layout = null;
}


<div class="card">
    <div class="card-body">
        <form asp-action="Create" method="post" id="formRole">
            <div class="mb-3">
                <label for="RoleName" class="form-label">Role Name</label>
                <input type="text" class="form-control" id="RoleName" name="RoleName">
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>


<script>
    $("#exampleModalLabel").text("@ViewData["Title"]");
</script>