﻿@using Pembekalan_Net.ViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model VMTblRole
@{
    ViewData["Title"] = "Edit Role";
}


<div class="card">
    <div class="card-body">
        <form asp-action="Edit" method="post">
            <div class="mb-3">
                <label for="RoleName" class="form-label fw-bold">Role Name</label>
                <input type="hidden" value="@Model.Id" name="Id" />
                <input type="text" class="form-control" id="RoleName" name="RoleName" value="@Model.RoleName">
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

<script>
    $("#exampleModalLabel").text("@ViewData["Title"]");
</script>