﻿@using Pembekalan_Net.ViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Role";
    int num = 0;
}
 @* <h1>@ViewData["Title"]</h1> *@

<a class="btn btn-primary text-white mb-4" id="btn_create">Create</a>

<table class="table table-hover text-center">
    <thead class="text-align-center">
        <tr >
            <th>Nomor</th>
            <th>Id</th>
            <th>Role Name</th>
            <th>Is Delete</th>
            <th>Create Date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (VMTblRole item in ViewBag.listRole)
        {
            <tr>
                <td>@(num=num+1)</td>
                <td>@item.Id</td>
                <td>@item.RoleName</td>
                <td>
                    @if (@item.IsDelete == false)
                    {
                        <input type="checkbox" disabled />
                    }
                    else
                    {
                        <input type="checkbox" checked />
                    }
                </td>
                <td>@item.CreatedDate.ToString("dddd, dd/MM/yyyy")</td>
                <td>
                    <a class="btn btn-primary btn_edit text-white" data-id="@item.Id" >Edit</a>
                    <a class="btn btn-success text-white btn-detail" data-id="@item.Id" id="btn-detail">Detail</a>
                    <a class="btn btn-danger text-white btn-delete" data-id="@item.Id" id="btn-delete">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    

    $("#btn_create").click(function(event) {
        //alert("jeng jeng")
        $("#modal_body").empty()
        $("#modal_body").load("/Role/Create")
        $("#my_modal").modal("show")
    })

    $(".btn_edit").click(function(event) {
        var id = $(this).data("id")

        $("#modal_body").empty()
        $("#modal_body").load("/Role/Edit?id=" + id)
        $("#my_modal").modal("show")
    })

    $(".btn-detail").click(function (event) {
        var id = $(this).data("id")

        $("#modal_body").empty()
        $("#modal_body").load("/Role/Detail?id=" + id)
        $("#my_modal").modal("show")
    })

    $(".btn-delete").click(function (event) {
        var id = $(this).data("id")

        $("#modal_body").empty()
        $("#modal_body").load("/Role/Delete?id=" + id)
        $("#my_modal").modal("show")
    })
</script>