﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
   
}

<div>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Login box.scss -->
    <!-- ============================================================== -->
    <div class="auth-wrapper d-flex no-block justify-content-center align-items-center position-relative"
         style=" background:url(../assets/images/big/bgOne.jpg) no-repeat center center;">
        <div class="auth-box row">
            <div class="col-lg-7 col-md-5 modal-bg-img" style="border-radius: 20px 0px 0px 20px; background-image: url(../assets/images/big/signIn.png);">
            </div>
            <div class="col-lg-5 col-md-7 bg-white" style="border-radius: 0px 20px 20px 0px;">
                <div class="p-3">
                    <div class="text-center text-primary">
                        
                        <i class="fas fa-share-square h3"></i>
                        
                    </div>
                    <h2 class="mt-3 text-center">Sign In</h2>
                    <p class="text-center">Masukan Email dan Password Anda.</p>
                    <form class="mt-4" id="formLogin">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="text-dark" for="Email">Email</label>
                                    <input class="form-control" id="email" type="email" name="Email"
                                        placeholder="masukan email anda">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="text-dark" for="Password">Password</label>
                                    <input class="form-control" id="password" type="password" name="Password"
                                        placeholder="masukan password anda">
                                </div>
                            </div>
                            <div class="col-lg-12 text-center">
                                <button type="submit" class="btn btn-block btn-primary rounded">Sign In</button>
                            </div>
                            <div class="col-lg-12 text-center mt-2 mb-4">
                                Belum memiliki akun? <a id="btn-regist" type="button" class="text-primary">Sign Up</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Login box.scss -->
    <!-- ============================================================== -->
</div>

<script>
    $("#exampleModalLabel").hide();
    //Klik Daftar
    $("#btn-regist").click(function(e){
        $("#modal_body").empty()
        $(".modal-dialog").addClass("modal-xl");
        $("#modal_body").load("/Auth/Register")
        $("#my_modal").modal("show")
    })

    $(".preloader ").fadeOut();

    //Validate
    $("#formLogin").validate({
        errorClass: "text-danger is-invalid",
        rules: {
            Email: {
                required: true,
                email:true
            },
            Password:{
                required:true
            }
        },
        messages: {
            Email: {
                required: "Email harap diisi!",
                email: "Email harus sesuai format! co: eliza@mail.com"
            },
            Password: {
                required: "Password harap diisi!"
            }
        },
        submitHandler:function(form) {
            // alert("masukk");

            var email = $("#email").val();
            var password = $("#password").val();

            $.ajax({
                url:"/Auth/CheckLogin",
                type:"post",
                data: {
                    email:email,
                    password:password
                },
                dataType:'json',
                beforeSend: function(e) {
                    //debugger;
                },
                success: function (response) {

                    if(response.success == true){
                        Swal.fire({
                            title: "Selamat Datang",
                            text: "Nikmati pengalaman berbelanja online di AdminMart!",
                            icon: "success"
                        }).then(function () {
                            location.reload();
                        });
                    }
                    else{
                        Swal.fire({
                            title: "Gagal Masuk",
                            text: response.messages,
                            icon: "error"
                        })
                    }
                }
            })
        }
    })
</script>