﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Login box.scss -->
    <!-- ============================================================== -->
    <div class="auth-wrapper d-flex no-block justify-content-center align-items-center position-relative"
         style=" background:url(../assets/images/big/bgOne.jpg) no-repeat center center;">
        <div class="auth-box row">
            <div class="col-lg-7 col-md-5 modal-bg-img" style="border-radius: 20px 0px 0px 20px; background-image: url(../assets/images/big/signIn.png);">
            </div>
            <div class="col-lg-5 col-md-7 bg-white" style="border-radius: 0px 20px 20px 0px;">
                <div class="p-3">
                    <div class="text-center text-primary">

                        <i class="fas fa-registered h1"></i>

                    </div>
                    <h2 class="mt-3 text-center">Sign Up</h2>
                    <p class="text-center">Daftarkan Diri Anda.</p>
                    <form class="mt-4" id="formRegist">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="text-dark" for="NameCustomer">Nama</label>
                                    <input class="form-control" id="nameCustomer" type="text" name="NameCustomer" placeholder="masukan nama anda">
                                </div>
                            </div>
                            <div class="col-lg-12 mb-3">
                                <div class="form-group mb-0">
                                    <label class="text-dark" for="Email">Email</label>
                                    <input class="form-control" id="email" type="email" name="Email" oninput="emailIsExist()"
                                           placeholder="masukan email anda">
                                </div>
                                <span id="validate_email" class="text-danger"></span>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="text-dark" for="Password">Password</label>
                                    <input class="form-control" id="password" type="password" name="Password"
                                           placeholder="masukan password anda">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="text-dark" for="RePassword">Re-Password</label>
                                    <input class="form-control" id="rePassword" type="password" name="RePassword" placeholder="masukan re-password anda">
                                </div>
                                

                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="text-dark" for="IdRole">Role</label>
                                    @Html.DropDownList("IdRole",
                                        new SelectList(ViewBag.ListRoleId, "Id", "RoleName"),
                                        "~Pilih Role~",
                                        new { @class = "form-select" }
                                    )
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="Address" class="text-black">Alamat</label>
                                    <textarea type="text" class="form-control" id="address" name="Address" placeholder="masukan alamat anda" style="height: 17px;">  </textarea>
                                </div>
                            </div>
                            <div class="col-lg-12 mb-4">
                                <div class="form-group">
                                    <label for="Phone" class="text-black">Phone</label>
                                    <input type="number" class="form-control" id="phone" name="Phone" placeholder="co: 08123123123">
                                </div>
                            </div>
                            <div>
                                <div class="icheck-primary d-flex align-items-start gap-2">
                                    <input type="checkbox" id="agreeTerms" name="agreeTerms" value="agree" class="mt-1">
                                    <label for="agreeTerms">
                                        Saya setuju dengan <a href="#">kebijakan aplikasi</a>
                                    </label>
                                </div>
                            </div>
                            <div class="col-lg-12 text-center mb-2">
                                <button type="submit" id="btn_regist_submit" class="btn btn-block btn-primary rounded">Sign Up</button>
                            </div>
                            <div class="col-lg-12 text-center mb-4">
                                Sudah memiliki akun? <button id="btn_back_signIn" class="btn p-0 bg-white text-primary">Sign In</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Login box.scss -->
    <!-- ============================================================== -->
</div>

<script>
    $(".preloader ").fadeOut();

    $("#btn_back_signIn").click(function(e){
        $("#modal_body").empty()
        $(".modal-dialog").addClass("modal-xl");
        $("#modal_body").load("/Auth/Login")
        $("#my_modal").modal("show")
    })

    //strong password
    // $.validator.addMethod("strongPassword",
    //     function (value, el) {
    //         return (/^(?=.*[!@@#$%^&*\/])(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(.{8,20})$/.test(value));
    //     },
    //     function (chkRes, el) {
    //         let pass = $(el).val();
    //         console.log(pass);
    //         let txtAlert = "";
    //         if (!(/^(?=.*[!@@#$%^&*.\\/])/.test(pass))) {
    //             txtAlert += `<li class="text-black"><p class="m-0 text-danger">Customer Password must contained at least one special characters (!@@#$%^&*.\\/)</p> </li>`;
    //         }
    //         if (!(/^(?=.*[0-9])/.test(pass))) {
    //             txtAlert += `<li class="text-black"><p class="m-0 text-danger">Customer Password must contained at least one number characters [0-9] </p> </li>`;
    //         }
    //         if (!(/^(?=.*[a-z])/.test(pass))) {
    //             txtAlert += `<li class="text-black" > <p class="m-0 text-danger" >Customer Password must contained at least one normal alphabet characters[a - z] </p> </li>`;
    //         }
    //         if (!(/^(?=.*[A-Z])/.test(pass))) {
    //             txtAlert += `<li class="text-black"><p class="m-0 text-danger">Customer Password must contained at least one capital alphabet characters [A-Z] </p> </li>`;
    //         }
    //         if (!(/^(.{8,20})$/.test(pass))) {
    //             txtAlert += `<li class="text-black" > <p class="m-0 text-danger" >Customer Password length must between 8 to 20 characters</p> </li>`;
    //         }

    //         if (txtAlert == "") {
    //             return false;
    //         }
    //         else {
    //             return txtAlert;
    //         }
    //     }
    // );

    //strong password versi pak yahya
    $.validator.addMethod("strong_password", function (value, element) {
        let password = value;
        if (!(/^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[@@#$%&])(.{8,20}$)/.test(password))) {
            return false;
        }
        return true;
    }, function (value, element) {
        let password = $(element).val();
        if (!(/^(.{8,20}$)/.test(password))) {
            return 'Password must be between 8 to 20 characters long.';
        }
        else if (!(/^(?=.*[A-Z])/.test(password))) {
            return 'Password must contain at least one uppercase.';
        }
        else if (!(/^(?=.*[a-z])/.test(password))) {
            return 'Password must contain at least one lowercase.';
        }
        else if (!(/^(?=.*[0-9])/.test(password))) {
            return 'Password must contain at least one digit.';
        }
        else if (!(/^(?=.*[@@#$%&])/.test(password))) {
            return "Password must contain special characters from @@#$%&.";
        }
        return false;
    });


    //FORM REgist validate
    $("#formRegist").validate({
        errorClass:"text-danger",
        rules:{
            NameCustomer: {
                required: true,
                minlength: 3
            },
            Email: {
                required: true,
                email: true
            },
            Password: {
                required: true,
                minlength: 8,
                strong_password: true
            },
            RePassword: {
                required: true,
                equalTo:"#password"
            },
            IdRole: {
                required: true
            },
            agreeTerms: {
                required: true
            }
        },
        messages:{
            NameCustomer: {
                required: "Customer Name harus diisi",
                minlength: "Customer Name minimal 3 karakter"
            },
            Email: {
                required: "Email Customer harus diisi",
                email: "Email Customer harus sesuai format co: azile@gmail.com"
            },
            Password: {
                required: "Password Customer harus diisi",
                minlength: "Password Customer minimal 8 karakter"
            },
            RePassword: {
                required: "Re-Type Password harus diisi",
                equalTo: "Re-Type Password tidak sesuai dengan Password"
            },
            IdRole: {
                required: "Role harus diisi"
            },
            agreeTerms:{
                required: "Setuju dengan kebijakan aplikasi harus diisi"
            }
        },
        submitHandler: function(form){
            
            var email = $("#email").val();
            var id = 0;
            var data = $(form).serialize();

            $.ajax({
                url:"/Customer/CheckEmailIsExist",
                type: "get",
                data: {
                    email:email,
                    id:id
                },
                dataType:"json",
                beforeSend: function (e) {

                },
                success: function(response){
                    if(response){
                        $("#validate_email").text("Email sudah terdaftar!");
                    }
                    else{
                        $("#validate_email").text("");
                        fungsiSubmit(data);
                    }
                }
            })
        }
    })


    //submit data
    function fungsiSubmit(data) {
        $.ajax({
            url: "/Customer/Create",
            type: "post",
            data: data,
            dataType: "json",
            success: function (response) {
                if (response.success) {
                    // alert("berhasil");
                    // location.reload();

                    Swal.fire({
                        title: "Akun berhasil teregistrasi!",
                        text: "Berhasil membuat akun, Silahkan login!",
                        icon: "success"
                    }).then(function () {
                        location.reload();
                    });

                    // toastr.error('Data Already Exist', 'FAILED!!',
                    //     {
                    //         timeOut: 1000,
                    //         fadeOut: 1000,
                    //         onHidden: function () {
                    //             window.location.reload();
                    //         }
                    //     }
                    // );
                }
                else {
                    Swal.fire({
                        title: "Data Failed to Created!",
                        text: "Failed create the data!",
                        icon: "error"
                    })
                }
            }
        })
    }

    //mengcek email saat diinput
    function emailIsExist() {
        var email = $("#email").val();
        var id = 0;
        $.ajax({
            url: "/Customer/CheckEmailIsExist",
            type: "get",
            data: {
                email: email,
                id: id
            },
            dataType: "json",
            success: function(response) {
                if(response){
                    $("#validate_email").text("Email sudah terdaftar!");
                }
                else{
                    $("#validate_email").text("");
                }
            }
        })
    }
</script>