﻿@using Pembekalan_Net.ViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model VMTblRole
@{
    ViewData["Title"] = "Tambah Role Val";
    //Layout = null;
}

<div class="card">
    <div class="card-body">
        <form id="formRole">
            <div class="mb-3">
                <label for="RoleName" class="form-label">Role Name</label>
                <input type="text" class="form-control" id="roleName" name="RoleName">
                <span id="text-danger-error" class="text-danger"></span>
            </div>
            <div class="d-flex gap-3">
                <button type="submit" class="btn btn-primary">Submit</button>
                <a asp-action="Index" class="btn btn-danger">Cancel</a>

            </div>
        </form>
    </div>
</div>

<script>
    $("#formRole").validate({
        errorClass:"text-danger",
        rules:{
            RoleName: {
                required:true,
                minlength:3
            }
        },
        messages: {
            RoleName: {
                required: "Role Name harus diisi",
                minlength: "Role Name minimal 3 karakter"
            }
        },
        submitHandler: function(form){
            
            var roleName = $("#roleName").val();
            var id = 0;
            var data = $(form).serialize();
            console.log(roleName);
            // debugger;
            $.ajax({
                url: "/RoleVal/CheckNameIsExist",
                type: "get",
                data: {
                    name: roleName,
                    id: id
                },
                dataType: "json",
                beforeSend: function(e){
                    // debugger;
                },
                success: function (response) {
                    // debugger;
                    if (response) {
                        // $("#text-danger-error").text("Data Sudah Ada");
                        // Swal.fire({
                        //     title: "Data Already Exist!",
                        //     text: "Please Input Another Data!",
                        //     icon: "error"
                        // });
                        // toastr.error('Data Already Exist','FAILED!!',
                        //     {
                        //         timeOut: 1000,
                        //         fadeOut: 1000,
                        //         onHidden: function () {
                        //             window.location.reload();
                        //             }
                        //     }
                        // );
                    }
                    else {
                        $("#text-danger-error").text("");
                        fungsiSubmit(data);
                    }
                }
            });
        }
    })
    
    $("#exampleModalLabel").text("@ViewData["Title"]");

    function fungsiSubmit(data) {
        $.ajax({
            url:"/RoleVal/Create",
            type:"post",
            data:data,
            dataType:"json",
            success: function (response) {
                if (response.success) {
                    // alert("berhasil");
                    // location.reload();

                    Swal.fire({
                        title: "Data Already Created!",
                        text: "Success create the data!",
                        icon: "success"
                    }).then(function () {
                        location.reload();
                    });

                    // toastr.error('Data Already Exist', 'FAILED!!',
                    //     {
                    //         timeOut: 1000,
                    //         fadeOut: 1000,
                    //         onHidden: function () {
                    //             window.location.reload();
                    //         }
                    //     }
                    // );
                }
                else {
                    Swal.fire({
                        title: "Data Failed to Created!",
                        text: "Failed create the data!",
                        icon: "error"
                    })
                }
            }
        })
    }

</script>