﻿@using Pembekalan_Net.DataModel
@using Pembekalan_Net.ViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
 @model TblRole
@{
    ViewData["Title"] = "Detail Role";
}


<div>
    <p>Nama Lengkap : @Model.RoleName</p>
</div>
   

<script>
    $("#exampleModalLabel").text("@ViewData["Title"]");
</script>