﻿@using Pembekalan_Net.DataModel
@using Pembekalan_Net.ViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Tambah Customer";
    //Layout = null;
}

<div class="card">
    <div class="card-body">
        <form id="formCustomer">
            <div class="mb-3">
                <label for="NameCustomer" class="form-label">Customer Name</label>
                <input type="text" class="form-control" id="nameCustomer" name="NameCustomer">
                <span id="text-danger-error" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="Email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="Email">
                 @* <span id="text-danger-error" class="text-danger"></span> *@
            </div>
            <div class="mb-3">
                <label for="Password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="Password">
                 @* <span id="text-danger-error" class="text-danger"></span> *@
            </div>
            <div class="mb-3">
                <label for="Address" class="form-label">Address</label>
                <textarea type="text" class="form-control" id="address" name="Address"></textarea>
                @* <span id="text-danger-error" class="text-danger"></span> *@
            </div>
            <div class="mb-3">
                <label for="Phone" class="form-label">Phone</label>
                <input type="number" class="form-control" id="phone" name="Phone">
                @* <span id="text-danger-error" class="text-danger"></span> *@
            </div>
            <div class="mb-3">
                <label for="IdRole" class="form-label">IdRole</label>
                @Html.DropDownList("IdRole",
                    new SelectList(ViewBag.ListRoleId, "Id", "RoleName"),
                    "~Pilih Role~",
                    new {@class = "form-select"}
                )
                 @* <select class="form-select" name="IdRole">
                     @foreach (TblRole item in ViewBag.ListRoleId)
                     {
                         <option value="@item.Id">@item.RoleName</option>
                     }
                 </select> *@
               
            </div>
            <div class="mt-5 d-flex gap-3">
                <button type="submit" class="btn btn-primary">Submit</button>
                <a asp-action="Index" class="btn btn-danger">Cancel</a>
            </div>
        </form>
    </div>
</div>

<script>
    $("#formCustomer").validate({
        errorClass:"text-danger",
        rules:{
            NameCustomer: {
                required:true,
                minlength:3
            },
            Email:{
                required: true,
                email: true
            },
            Password: {
                required: true,
                minlength: 8,
            },
            IdRole:{
                required :true
            }
        },
        messages: {
            NameCustomer: {
                required: "Customer Name harus diisi",
                minlength: "Customer Name minimal 3 karakter"
            },
            Email: {
                required: "Email Customer harus diisi",
                email: "Email Customer harus sesuai format co: azile@gmail.com"
            },
            Password: {
                required: "Password Customer harus diisi",
                minlength: "Password Customer minimal 8 karakter",
            },
            IdRole: {
                required: "Role harus diisi"
            }
        },
        submitHandler: function(form){
            
            var email = $("#email").val();
            var id = 0;
            var data = $(form).serialize();
            console.log(email);
            // debugger;
            $.ajax({
                url: "/Customer/CheckEmailIsExist",
                type: "get",
                data: {
                    email: email,
                    id: id
                },
                dataType: "json",
                beforeSend: function(e){
                    // debugger;
                },
                success: function (response) {
                    // debugger;
                    if (response) {
                        // $("#text-danger-error").text("Data Sudah Ada");
                        Swal.fire({
                            title: "EMAIL Already Exist!",
                            text: "Please Input Another EMAIL!",
                            icon: "error"
                        });
                        // toastr.error('Data Already Exist','FAILED!!',
                        //     {
                        //         timeOut: 1000,
                        //         fadeOut: 1000,
                        //         onHidden: function () {
                        //             window.location.reload();
                        //             }
                        //     }
                        // );
                    }
                    else {
                        $("#text-danger-error").text("");
                        fungsiSubmit(data);
                    }
                }
            });
        }
    })
    
    $("#exampleModalLabel").text("@ViewData["Title"]");

    function fungsiSubmit(data) {
        $.ajax({
            url:"/Customer/Create",
            type:"post",
            data:data,
            dataType:"json",
            success: function (response) {
                if (response.success) {
                    // alert("berhasil");
                    // location.reload();

                    Swal.fire({
                        title: "Data Already Created!",
                        text: "Success create the data!",
                        icon: "success"
                    }).then(function () {
                        location.reload();
                    });

                    // toastr.error('Data Already Exist', 'FAILED!!',
                    //     {
                    //         timeOut: 1000,
                    //         fadeOut: 1000,
                    //         onHidden: function () {
                    //             window.location.reload();
                    //         }
                    //     }
                    // );
                }
                else {
                    Swal.fire({
                        title: "Data Failed to Created!",
                        text: "Failed create the data!",
                        icon: "error"
                    })
                }
            }
        })
    }

</script>