﻿@using Pembekalan_Net.DataModel
@using Pembekalan_Net.ViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Delete Customer";
}

<div class="card">
    <div class="card-body">
        <div class="text-center">
            <p>Apakah kamu yakin akan menghapus role <span class="text-danger fw-bold">@Model.NameCustomer</span> ???</p>
        </div>
        <div class="mt-5 d-flex justify-content-end gap-3">
            <button type="submit" class="btn btn-danger rounded" id="btn-yes">Iya</button>
            <button type="submit" class="btn btn-primary rounded" id="btn-no">Tidak</button>
        </div>
        
    </div>
</div>

<script>
    $("#exampleModalLabel").text("@ViewData["Title"]");
    $("#btn-yes").click(function(e){
        $.ajax({
            url: "/Customer/DeleteCustomer",
            method:'post',
            data: {"id":"@Model.Id"}, 
            dataType:'json',
            beforeSend:function(){
                // debugger;
            },
            success: function (response){
                console.log(response);
                if(response.success == true){
                    Swal.fire({
                        title: "Data Already Deleted!",
                        text: "Success delete the data!",
                        icon: "success"
                    }).then(function () {
                        location.reload();
                    });
                }
            },
            error: function (errResponse) {
                debugger;
            }
        })
    })

    $("#btn-no").click(function(e){
        location.reload();
    })
</script>