﻿@using Pembekalan_Net.DataModel
@using Pembekalan_Net.ViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
 
@{
    ViewData["Title"] = "Detail Customer";
}


<div>
    <div class="card">
        <div class="card-body">
            <div class="input-group mb-3">
                <span class="input-group-text col-4 text-wrap" id="basic-addon1">Nama Lengkap</span>
                <input type="text" class="form-control text-wrap bg-white" value="@Model.NameCustomer" aria-label="Username" aria-describedby="basic-addon1" disabled>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text col-4 text-wrap" id="basic-addon1">Email</span>
                <input type="text" class="form-control text-wrap bg-white" value="@Model.Email" aria-label="Username" aria-describedby="basic-addon1" disabled>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text col-4 text-wrap" id="basic-addon1">Password</span>
                <input type="text" class="form-control text-wrap bg-white" value="@Model.Password" aria-label="Username" aria-describedby="basic-addon1" disabled>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text col-4 text-wrap" id="basic-addon1">Alamat</span>
                <input type="text" class="form-control text-wrap bg-white" value="@Model.Address" aria-label="Username" aria-describedby="basic-addon1" disabled>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text col-4 text-wrap" id="basic-addon1">Nomor Telepon</span>
                <input type="text" class="form-control text-wrap bg-white" value="@Model.Phone" aria-label="Username" aria-describedby="basic-addon1" disabled>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text col-4 text-wrap" id="basic-addon1">Role</span>
                <input type="text" class="form-control text-wrap bg-white" value="@Model.IdRole (@Model.RoleName)" aria-label="Username" aria-describedby="basic-addon1" disabled>
            </div>
        </div>
    </div>
</div>
   

<script>
    $("#exampleModalLabel").text("@ViewData["Title"]");
</script>