﻿@using Pembekalan_Net.ViewModel
@using Pembekalan_Net.DataModel

@model Pagination<VMTblCustomer>?

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Customer";
    int num = 0;
}
@* <h1>@ViewData["Title"]</h1> *@



<div class="card">
    <div class="card-body">
        <div class="mb-3 d-flex justify-content-between">
            <div class="d-flex mb-4 gap-3">
                <a class="btn btn-primary text-white" id="btn_create">Create</a>
                <button class="btn btn-primary text-white" id="btn_multiple_delete" disabled>Multiple Delete</button>
            </div>
            <div>
                <form asp-action="Index" asp-route-pageSize="@ViewBag.CurrentPageSize">
                    <div class="input-group w-100">
                        <input type="text" name="searchString" value="@ViewBag.CurrentFilter" class="form-control" placeholder="Cari" />
                        <div class="input-group-prepend">
                            <button class="btn btn-primary rounded" title="search">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                        <div class="input-group-prepend">
                            <a class="btn btn-primary rounded" asp-action="Index" title="reset">
                                <i class="fas fa-redo"></i>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <table class="table table-hover text-center">
            <thead class="text-align-center">
                <tr>
                    <th>#</th>
                    <th>Nomor</th>
                    <th>Id</th>
                    <th>
                        <a asp-action="Index" asp-route-sortOrder="@ViewBag.NameSort" asp-route-currentFilter="@ViewBag.CurrentFilter"  asp-route-pageSize="@ViewBag.CurrentPageSize">Customer Name </a>
                    </th>
                    <th>Email</th>
                    <th>  
                        <a asp-action="Index" asp-route-sortOrder="@ViewBag.RoleName" asp-route-currentFilter="@ViewBag.CurrentFilter" asp-route-pageSize="@ViewBag.CurrentPageSize">Role Name </a>
                    </th>
                    <th>Create Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count != 0)
                {
                    @foreach (VMTblCustomer item in Model)
                    {
                        <tr>
                            <td>
                                <input class="form-check-input" onchange="checkSelected()" type="checkbox" value="@item.Id" id="flexCheckDefault">
                            </td>
                            <td>@(num = num + 1)</td>
                            <td>@item.Id</td>
                            <td>@item.NameCustomer</td>
                            <td>@item.Email</td>
                            <td>@item.RoleName</td>
                            <td>@((item.CreateDate ?? DateTime.Now).ToString("dddd, dd/MM/yyyy"))</td>
                            <td>
                                <a class="btn btn-primary btn_edit text-white" data-id="@item.Id">Edit</a>
                                <a class="btn btn-success text-white btn-detail" data-id="@item.Id" id="btn-detail">Detail</a>
                                <a class="btn btn-danger text-white btn-delete" data-id="@item.Id" id="btn-delete">Delete</a>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="7">=========== Data Tidak Ditemukan ===========</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
    <div class="card-footer d-flex">
        @{
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
            var preDisabled = !Model.HasPreviousPage ? "disabled" : "";
        }
        <div class="col-2">
            <form asp-action="Index" id="form_pageSize">
                <select name="PageSize" id="PageSize" class="form-select">
                    @* <option selected hidden>@ViewBag.CurrentPageSize </option> *@
                    <option value="3">3</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                </select>
            </form>
        </div>
        <div class="col-10 d-flex justify-content-end align-items-center gap-3">
            <a asp-action="Index" asp-action="Index" asp-route-sortOrder="@ViewBag.CurrentSort" asp-route-pageNumber="@(Model.PageIndex-1)" asp-route-currentFilter="@ViewBag.CurrentFilter" asp-route-pageSize="@ViewBag.CurrentPageSize" class="btn btn-primary @preDisabled">Previous</a>
            <p class="m-0">Page @Model.PageIndex of @Model.TotalPages</p>
            <a asp-action="Index" asp-route-sortOrder="@ViewBag.CurrentSort" asp-route-pageNumber="@(Model.PageIndex+1)" asp-route-currentFilter="@ViewBag.CurrentFilter" asp-route-pageSize="@ViewBag.CurrentPageSize" class="btn btn-primary @nextDisabled">Next</a>
        </div>
    </div>
</div>


<script>
    $("#PageSize").change(function (e) {
        $("#form_pageSize").submit()
    })

    $("#PageSize").val(@ViewBag.CurrentPageSize );

    $("#btn_create").click(function (event) {
        $("#modal_body").empty()
        $("#modal_body").load("/Customer/Create")
        $("#my_modal").modal("show")
    })

    $(".btn_edit").click(function (event) {
        var id = $(this).data("id")

        $("#modal_body").empty()
        $("#modal_body").load("/Customer/Edit?id=" + id)
        $("#my_modal").modal("show")
    })

    $(".btn-detail").click(function (event) {
        var id = $(this).data("id")

        $("#modal_body").empty()
        $("#modal_body").load("/Customer/Detail?id=" + id)
        $("#my_modal").modal("show")
    })

    $(".btn-delete").click(function (event) {
        var id = $(this).data("id")

        $("#modal_body").empty()
        $("#modal_body").load("/Customer/Delete?id=" + id)
        $("#my_modal").modal("show")
    })

    //function get ID for multiple delete
    var listId = [];
    function checkSelected() {
        listId = [];
        var idChecked = $(".form-check-input");
        for (var i = 0; i < idChecked.length; i++) {
            if (idChecked[i].checked) {
                listId.push(idChecked[i].value);
            }
        }
        console.log(listId);

        if (listId.length > 0) {
            $("#btn_multiple_delete").removeAttr("disabled");
        }
        else {
            $("#btn_multiple_delete").attr("disabled",true)
        }
    }

    //Button multiple delete
    $("#btn_multiple_delete").click(function () {
        $("#modal_body").empty()
        //Mengirim data list melalui url
        $("#modal_body").load("/Customer/MultipleDelete", { listId: listId });
        $("#my_modal").modal("show")
    })
    
</script>
